.nav-link{
    font-weight: 700;
    
}

.nav-link:hover{
    background-color: rgb(212, 207, 207);
    color: white;
    
}
.btn-style{
    margin:5px;
    text-decoration: none;
    font-weight: 800;
    
}
.header-Style{
    font-weight:900;
    
}
